html{
  background: $light-blue;
}
body{
  border: 25px solid $light-blue;
  color: rgb(15, 41, 51);
  background: $white;
  @include mobile{
    border: 15px solid #e0f3fc;
  }
}
.button{
  text-transform: uppercase;
  border:2px solid $black;
  background: none;
  font-weight: 600;
  color: $black;
  letter-spacing: 1px;
  border-radius: 5px;
  font-family: $theme-font-secondary;
  min-width: 125px;
  font-size: 13px;
  padding: 15px 20px 14px 20px;
  @include mobile{
    font-size: 12px;
  }
  @include breakpoint(350px){
    font-size: 10px;
  }
  &:hover, &:focus, &:active{
    background: $black;
  }
  &.red{
    border:2px solid $red;
    color: $red;
    &:hover, &:focus, &:active{
      background: $red;
      color: $white;
    }
  }
  &.yellow{
    border:2px solid $yellow;
    color: $black;
    text-decoration: none;
    &:hover, &:focus, &:active{
      background: $yellow;
      color: $white;
    }
    &.fill{
      background: $yellow;
      &:hover, &:focus, &:active{
        background: none;
        border-color: $black;
        color: $black;
      }
    }
  }
}
.a11y-hidden{
  position: absolute;
  z-index: -9999;
  width:1px;
  height: 1px;
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0,0,0,0);
}
p{
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.54px;
  @include mobile {
    font-size: 16px;
  }
  @include breakpoint(400px){
    font-size: 14px;
  }
}
.section{
  padding-left:20px;
  padding-right: 20px;
  @include mobile{
    padding-left:15px;
    padding-right: 15px;
  }
}
hr{
  border-color: #eeeeee;
}
input{
  border: 1px solid rgba(0,0,0,.12) !important;    width: 100%;
  padding: 1em;
  background: #fff !important;
  font-family: inherit;
  font-size: 15px;
  line-height: normal;
  outline: none;
  -webkit-transition: background .3s ease-out,border .3s ease-out;
  -moz-transition: background .3s ease-out,border .3s ease-out;
  -ms-transition: background .3s ease-out,border .3s ease-out;
  -o-transition: background .3s ease-out,border .3s ease-out;
  transition: background .3s ease-out,border .3s ease-out;
  box-shadow: none !important;
  height: 45px !important;
  border-radius: 0px !important;
  font-family: $theme-font;
  font-weight: 300;
  padding:15px !important;
  width:100% !important;
  @include mobile {
    font-size: 14px !important;
  }
}
.main.wrapper{
  padding-top: 40px;
  @include mobile{
    padding-top: 20px;
  }
}
.main p{
  line-height: 40px;
  @include mobile{
    line-height: 35px;
  }
  @include breakpoint(400px){
    line-height: 25px;
  }
}

.main{
   a{
     color: $red;
     text-decoration: underline;
     transition: all .3s ease-in-out;
     &:hover, &:focus{
       color: rgba(198,0,0,.6);
     }
   }
 }

input, select{
  font-family: $theme-font-secondary;
}
.callout{
  margin:0px;
  padding: 5px 20px;
  border: none;
  border-radius: 0;
}

.share-this-tool{
  margin-top: 20px;
}
.grid-container{
  max-width: 105em;
}

.reveal-overlay{
  background-color: rgba(10, 10, 10, 0.8);
}

body.is-reveal-open {
  overflow: visible;
}

