#main-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 185px;
    @include mobile(){

    }
  }
  ul {
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    li {
      @include breakpoint(1100px){
        width: 100%;
        display: block;
      }
      a {
        color: rgb(15, 41, 51);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1.8px;
        transition: color .3s ease-in-out;
        &:hover, &:focus{
          color: $red;
        }
        @include tablet(){
          font-size: 14px;
        }
      }
      display: inline;
      padding-right: 20px;
      position: relative;
      &.search {
        width: 50%;
      }
    }
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    display: none;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .dropdown.menu > li > a {
    padding: 0;
    @include breakpoint(1100px){
      margin-bottom: 10px;
    }
  }
  .dropdown.menu > li:last-child a{
    margin-bottom: 0px;
  }
  .is-dropdown-submenu{
    background: $white;
    //border-color: #dddddd;
    border:none;
    li{
      padding-right: 0px;
      text-align: left;
      a{
        padding: 0.4rem 1rem;
      }
    }
  }
}

#mobile-menu{
  background: $yellow;
  position: fixed;
  overflow: auto;
  a{
    background: $yellow;
    color: #000000;
    font-family: $theme-font-secondary;
    text-transform: uppercase;
    font-size: 19px;
    transition: color .3s ease-in-out;
    outline: 0;
    &:hover, &:focus{
      color: $red;
    }
    @include breakpoint(400px){
      font-size: 16px;
    }
  }
  .menu.vertical{
    background: $yellow;
    .submenu{
      a[tabindex="0"]{
        &::before{
          content: '«';
          border: none;
          display: inline;
          top: -2px;
          position: relative;
        }
        @include breakpoint(401px){
          top: -1px;
        }
      }
    }
    //li{
    //  padding-bottom: 4px;
    //  @include breakpoint(400px){
    //    padding-bottom: 2px;
    //  }
    //}
  }
  .drilldown .js-drilldown-back > a::before{
    border-color: transparent #000000 transparent transparent;
    display: none;
  }
  .drilldown .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #000000;
    display: none;
  }
  .menu-wrapper{
    margin-top: 20px;
    padding-left: 20px;
  }
}

#mobile-menu-trigger{
  cursor: pointer;
  display: block;
  margin-left:auto;
  margin-right: 0px;
  @include mobile(){
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
  }
  div {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    transition: background-color .3s ease-in-out;
  }
  &:hover, &:focus{
    div{
      background-color: $red;
    }
  }
}
.mobile-overlay-close{
  cursor: pointer;
  position: relative;
  background-color: #fff;
  transition: background-color .3s ease-in-out;
  height: 60px;
  width:60px;
  line-height: 60px;
  font-size: 38px;
  font-weight: 300;
  @include breakpoint(400px){
    line-height: 40px;
    height: 40px;
    width:40px;
    font-size: 28px;
  }
  span{
    position: absolute;
    left:0;
    right:0;
    top: 47%;
    transform: translateY(-50%);
  }
  &:hover{
    background-color: #000000;
    color: #ffffff;
  }
}

.js-off-canvas-overlay{
  background: rgba(0, 0, 0, 0.8);
}