//fonts
$theme-font: Raleway, sans-serif;
$theme-font-secondary: 'Share Tech Mono', monospace;

//colors
$light-blue: #e0f3fc;
$white: #ffffff;
$black: #000000;
$yellow: #ffe500;
$red: #c60000;
$dark-blue: #5A9EBF;
//nav