<header class="section">
    <nav id="main-nav">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center-middle">
                <div class="cell small-4 medium-4 large-4">
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Volunteer</a></li>
                        <li><a href="">Donate</a></li>
                    </ul>
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <img src="{{site.url}}/assets/src/images/global/logo.png" alt="">
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <ul>
                        <li><a href="">Wards</a></li>
                        <li><a href="">Contact</a></li>
                        <li class="search"><input type="text" placeholder="Search" name="search"></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>