{% include footer-global-content.html %}
<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ryantimjohn/chicago_aldermen_campaign_finance/js_libs/dimple.v2.0.0.min.js"></script>
<script src="https://ryantimjohn.github.io/chicago_aldermen_campaign_finance/js/mapDonations.js"></script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpQCqBm88QuIENEkewK3QK3UtOA2rgXbU"></script>
<script src="https://ryantimjohn.github.io/chicago_aldermen_campaign_finance/js/frontpageWardRedirect.js"> </script>
<script src="https://ryantimjohn.github.io/chicago_aldermen_campaign_finance/js/makeD3Charts.js"> </script>
<!-- Sharethis tool -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c157849b8eb12a6"></script>
</body>
</html>
