







@media(max-width: 640px){
    .mc-field-group.newsletter .submit-button{
        padding-left:0px;
    }
    p{
        font-size: 16px;
    }
    input{
        font-size: 14px !important;
    }
    #mc_embed_signup .button{
        font-size: 14px;
    }
    footer{
        padding-bottom: 80px;
        padding-top:80px;
    }
}
.main.wrapper{
    padding-top: 40px;
}
.main p{
    line-height: 40px;
}